<h1>Create</h1>

<form method="post">
    <label>Id departamento</label>
    <input type="text" name="iddepartamento"
        class="form-control" required/>

    <label>Nombre: </label>
    <input type="text" name="nombre"
           class="form-control" required />

    <label>Localidad</label>
    <input type="text" name="localidad"
           class="form-control" required />

         <button class="btn btn-outline-dark">
               Create
         </button>
</form>