
@model Departamento

<h1>Details</h1>

<hr/>

<a asp-controller="Departamentos"
   asp-action="Index"
   class="btn btn-info">
    Volver Index
</a>

<hr/>


<ul class="list-group">
    <li class="list-group-item">
        Id Departamento: @Model.IdDepartamento
    </li>
    <li class="list-group-item">
        Id Departamento: @Model.Nombre
    </li>
    <li class="list-group-item">
        Id Departamento: @Model.Localidad
    </li>
</ul>