
@model Departamento

<h1>Edit</h1>

<form method="post">
    <input type="hidden" name="iddepartamento"
           value="@Model.IdDepartamento"/>
                    
    <label>Nombre: </label>
    <input type="text" name="nombre" value="@Model.Nombre"
           class="form-control" required />

    <label>Localidad: </label>
    <input type="text" name="localidad" value="@Model.Localidad"
           class="form-control" required />

    <button class="btn btn-outline-warning">
        Update
    </button>

</form>